#background-landing {
  background-image: url("https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/14322673_641501939352612_4491177294453033085_n.jpg?_nc_cat=0&oh=e7cfc6a11a5d04fe9fac6c870bdcfbea&oe=5C31B4A3");
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpQ_WVZ_f-p4_cK7Jq0Ej7iaYM9aA2r7q759MY0f7_S4uL3TpF");
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 275%;

  object-fit: cover;
  filter: brightness(25%);
  opacity: 40%;

  z-index: -1;
}

.profile-page{
  background-color: blanchedalmond;
}